{% ckan_extends %}

            {% block home_search %}
              <form class="dataset-search module-content clearfix" method="get" action="{% url_for controller='package', action='search' %}">
                <h3 class="heading">{{ _("Search Your Data") }}</h3>
                <span class="control-group search-giant">
                  <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('eg. Parking') }}" />
                  <button type="submit" value="{{ _('Search') }}">Submit</button>
                </span>
              </form>
            {% endblock %}

{% block home_image %}
	{# upper left block #}
{% endblock %}
